<%- include('./header.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @media (max-width: 600px){

.w1 {
   
    height: 300px;
}
}
</style>
<body>
    <div class="box1">
        <img src="assets/images/gallery1.jpeg" width="100%" height="700px" class="w1">
        
    </div>
      <br><br>

      
  <h1 class="text-center" style="font-size: 60px;">OUR GALLERY</h1>
  <br><br>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="assets/images/gallery2.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        <div class="col-md-6" style="margin-top:10px;">
          <a href="">
            <img
              src="assets/images/gallery3.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        <div class="col-md-6" style="margin-top:10px;">
          <a href="">
            <img
              src="assets/images/gallery4.png"
              class="w-100 d-block brands-logos h-100">
  
          </a>
  
        </div>
  
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="assets/images/gallery5.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="assets/images/gallery6.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="https://images.news18.com/ibnlive/uploads/2022/06/ugc2-1-16551781453x2.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
  
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="assets/images/gallery7.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="http://static1.squarespace.com/static/5269fbd3e4b0eb2b76ccc1db/54bc1ff5e4b0276f663b2dd7/5c6c6989ee6eb01c6d368c19/1612925683489/shutterstock_211410793-min.jpg?format=1500w"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        
      </div>
    </div>
  </div>


      
</body>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</html>

<%- include('./footer.ejs') %>


